*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-item{
    width: 100%;
    height: 90vh;
}
.about{
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.about img{
    width: 500px;
}
.contact{
    margin: auto;
}
.contact h2{
    text-align: center;
}
footer{
    width: 100%;
    height: 5vh;
    text-align: center;
}